body{
    font-size: 16px;
    /* 1em*/
    margin: 0px auto;
    font-family: "Eczar",Helvetica,Arial,sans-serif ;
    /* recomendacion del cliente */
    min-width: 1078px;
    max-width: 1078px;
}
header{
    background: #3DDC84;
    padding-bottom:90px ;
}
header nav{
    float: right;
    margin-right: 50px;
}
header nav ul li{
    /* float:right; */
    display: inline-block;
    margin-left: 15px;
}
#logo{
    float:left;
    position: relative;
}
#search{
    width: 15px;
    float: right;
    margin-left: 340px;
    position: relative;
    bottom: 42px;
    right: 20px;
}
#sec1{
    background: #3DDC84;
    padding-bottom: 100px;
    height: 350px;
}
#sec1 article{
    margin-left:20px;
    padding-top: 70px;
}

#fotografo{
    width:400px;
}
#celular{
     height: 300px;
     width:300px;
}
#codigo{
     width:300px;
}
#sec2art2{
    padding-left:110px;
}
#sec2art3{
    position: relative;
    bottom: 350px;
    padding-left: 50px;
}
#sec2 article{
    width: 300px;
    display: inline-block;
    margin-top: 10px;
    float: left;
}
#mujer{
    float: right;
    position: relative;
    bottom: 390px;
    margin-right:100px ;
    width: 200px;
}
#boton{
    background: #073042;
    font-family:"Roboto",Helvetica,Arial,sans-serif;
    border: none;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 150px;
}
.nito{
    font-weight: bold;
}
.roboto{
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
.grande{
    font-size:4.5em;
}
.chiquita{
    font-size: 0.7em;
}
.mediana{
    font-size: 1.4em;
}
.gris{
    color: gray;
}
.sem{
     font-size: 2em;
}